.container.text-center {
    border: 3px solid black;
    background-color: azure;
    border-radius: 30px;
    margin-top: 2%;
}
h1, h3, .container.container.text-center > .btn.btn-outline-dark {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
}
h3 {
    font-weight: bold;
    font-size: 30px;
}

.table > .btn.btn-outline-dark {
    height: 100px;
    width: 100px;
    background-color: rgb(18, 153, 108);
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    border: 5px solid black;
    border-collapse: collapse;
}

.container.container.text-center > .btn.btn-outline-dark {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid black;
}